# ── Dependencies ───────────────────────────
SELENIUM=true
TESTNG=true
ASSERTJ=true
LOG4J=true
EXTENT=true
ALLURE=true
POI=true
JACKSON=true
GSON=true
RESTASSURED=true
LOMBOK=true

# ── Plugins ────────────────────────────────
ENABLE_COMPILER_PLUGIN=true
ENABLE_SUREFIRE_PLUGIN=true
ENABLE_FAILSAFE_PLUGIN=true
ENABLE_ALLURE_PLUGIN=true

# ── Java ───────────────────────────────────
JAVA_VERSION=21